# Main modules
django
djangorestframework
python-dotenv

# Image processing
pillow

# Documentation
drf-yasg
drf-yasg[validation]

# Authentication
djangorestframework-simplejwt
djangorestframework-simplejwt[crypto]

# Celery and Background tasks
celery
django-celery-beat
django-celery-results
celery[redis]

# PDF
reportlab

# Shamsi Date 
hijri_converter

# Redis
django-redis
